<app-h-list-teams [value]="value"></app-h-list-teams>
<div class="container-fluid divisor-type-1"></div>
<!-- D -->
<div class="container-fluid bg-light nav-options-bar hide-options-D">
  <div class="row">
    <div class="col"></div>
    <div class="col-lg-2 col-md-3 col-sm-4 p-0">
      <a (click)="mainPage = false;" routerLink="/liga1/clubes">
        <div class="nav-options-item" routerLinkActive="nav-options-item-selected"><i class="fas fa-shield-alt"></i> Clubes</div>
      </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 p-0">
      <a (click)="mainPage = false;" routerLink="/liga1/tabla">
        <div class="nav-options-item" routerLinkActive="nav-options-item-selected"><i class="fas fa-stream"></i> Tabla</div>
      </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 p-0">
      <a (click)="mainPage = false;" routerLink="/liga1/tecnicos">
        <div class="nav-options-item" routerLinkActive="nav-options-item-selected"><i class="fas fa-user-shield"></i> Técnicos</div>
      </a>
    </div>
    <div class="col"></div>
  </div>
</div>
<!-- M -->
<div class="dropdown hide-options-M">
  <button class="btn bg-light dropdown-option w-100 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Liga 1
  </button>
  <ul class="dropdown-menu bg-light w-100">
    <li><a (click)="mainPage = false;" class="dropdown-item text-center dropdown-option-item" routerLink="/liga1/clubes">Clubes</a></li>
    <li><a (click)="mainPage = false;" class="dropdown-item text-center dropdown-option-item" routerLink="/liga1/tabla">Tabla</a></li>
    <li><a (click)="mainPage = false;" class="dropdown-item text-center dropdown-option-item" routerLink="/liga1/tecnicos">Técnicos</a></li>
  </ul>
</div>
<!-- Content -->
<div *ngIf="mainPage">
  <img src="./assets/images/banners/liga1banner.jpg" alt="banner" class="w-100">
</div>
<router-outlet></router-outlet>