/* Ttitle */
.background{
  background: #DC143C;
  background-image: url('/assets/images/banners/background-pattern.svg');
  background-size: cover;
  height: 250px;
}
.background h1 {
  font-size: 73px;
  color: #fff;
}
/* Page Tree */
.arrow {
  padding: 40px 12px;
  color: #ffbaba;
  font-weight: bold;
}
.arrow span{
  color: #fff;
}
.arrow i{
  padding: 0px 20px;
}
/* Description */
.notes {
  padding-top: 20px;
  margin-bottom: 0px;
  font-size: 12px;
  font-style: italic;
}
.notes2 {
  font-size: 16px;
  white-space: nowrap;
}
.description-image {
  text-align: end;
}
.description-image img {
  height: 70px;
}
@media screen and (max-width: 767.5px) {
  .description-image {
    text-align: center;
  }
}
@media screen and (max-width: 575.5px) {
  .background h1 {
    padding-top: 80px;
  }
  .description-image {
    text-align: center;
  }
  .arrow {
    display: none;
  }
  .title {
    text-align: center;
  }
}
/* Divider */
.divider {
  background: #DC143C;
  background-image: url('/assets/images/banners/background-pattern.svg');
  background-size: cover;
  height: 20px;
}

/* ======================================================================================================*/
/* ==============================================Content=================================================*/
/* ======================================================================================================*/
.container-fluid .row{
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-block {
  user-select: none;
}
/* Table content background */
.table-content {
  color: #ffffff;
  background: #161513;
}
/* Table */
.table {
  margin-bottom: 0px;
}
.table-header th{
  background-color: #DC143C;
  color: #fff;
}
th {
  font-size: 15px;
  height: 40px;
}
td {
  padding: 0px;
  white-space: nowrap;
  font-size: 15px;
}
.t-w-dt{
  min-width: 200px;
}
.t-w-team{
  min-width: 260px;
}
.manager-status {
  padding: 0px;
}
.logos{
  width: 35px;
}
.flag{
  font-size: 25px;
}
.line-table {
  background: linear-gradient(270deg,#DC143C,#d8b145);
  width: 6px;
  height: 5px;
  width: auto;
}
.table-info {
  padding: 10px;
  background-color: #fff;
}
/* Manager Status */
.status {
  width: 6px;
  height: 39px;
  padding: 0px;
}
.manager-active {
  background: #d8b145;
  color: #d8b145;
}
.manager-disable {
  background: #a00424;
  color: #a00424;
}