a {
  text-decoration:none;
  color: #000;
}
/* Ttitle */
.background{
  background: #DC143C;
  background-image: url('/assets/images/banners/background-pattern.svg');
  background-size: cover;
  height: 250px;
}
.background h1 {
  font-size: 73px;
  color: #fff;
}
/* Page Tree */
.arrow {
  padding: 40px 12px;
  color: #ffbaba;
  font-weight: bold;
}
.arrow span{
  color: #fff;
}
.arrow i{
  padding: 0px 20px;
}
/* Description */
.notes {
  padding-top: 20px;
  margin-bottom: 0px;
  font-size: 12px;
  font-style: italic;
}
.notes2 {
  font-size: 16px;
  white-space: nowrap;
}
.description-image {
  text-align: end;
}
@media screen and (max-width: 767px) {
  .background h1 {
    padding-top: 80px;
  }
  .description-image {
    text-align: center;
  }
  .arrow {
    display: none;
  }
  .title {
    text-align: center;
  }
}
/* Divisor */
.divisor-type-1 {
  background: #DC143C;
  background-image: url('/assets/images/banners/background-pattern.svg');
  background-size: cover;
  height: 20px;
}

/* ======================================================================================================*/
/* ==============================================Content=================================================*/
/* ======================================================================================================*/
.container-fluid .row{
  display: flex;
  align-items: center;
  justify-content: center;
}
.vertical-center {
  display: flex;
  align-items: center;
}
.content-block {
  user-select: none;
}
/* Tabla */
.table-header th{
  background-color: #DC143C;
  color: #fff;
}
td {
  padding: 0px;
  white-space: nowrap;
  font-size: 16px;
}
.team-status {
  padding: 0px;
}
.logos{
  width: 35px;
}
.table-info {
  padding: 10px;
}
.line-table {
  background: linear-gradient(270deg,#DC143C,#d8b145);
  width: 6px;
  height: 5px;
  width: auto;
}
/* Icons Color */
.win {
  margin-top: 10px;
  color: #3AA757;
  font-size: 18px;
}
.draw {
  margin-top: 10px;
  color: #9AA0A6;
  font-size: 18px;
}
.lose {
  margin-top: 10px;
  color: #EA4335;
  font-size: 18px;
}
/* Clasifiers */
.promotion {
  background: #27943C;
  width: 6px;
  height: 40px;
  padding: 0px;
}
.play-off {
  background: #a1cb40;
  width: 6px;
  height: 40px;
  padding: 0px;
}
.relegation {
  background: #c1272d;
  width: 6px;
  height: 40px;
  padding: 0px;
}