/* Title */
.background{
  background: #DC143C;
  background-image: url('/assets/images/banners/background-pattern.svg');
  background-size: cover;
  height: 250px;
}
.background h1 {
  font-size: 73px;
  color: #fff;
}
/* Page Tree */
.arrow {
  padding: 40px 12px;
  color: #ffbaba;
  font-weight: bold;
}
.arrow span{
  color: #fff;
}
.arrow i{
  padding: 0px 20px;
}
/* Description */
.notes {
  margin-bottom: 0px;
  font-size: 12px;
  font-style: italic;
}
.notes2 {
  font-size: 16px;
  white-space: nowrap;
  margin: 0px;
}
.description-image {
  text-align: end;
}
.description-image img {
  height: 70px;
}
@media screen and (max-width: 767.5px) {
  .description-image {
    text-align: center;
  }
}
@media screen and (max-width: 575.5px) {
  .background h1 {
    padding-top: 80px;
  }
  .description-image {
    text-align: center;
  }
  .arrow {
    display: none;
  }
  .title {
    text-align: center;
  }
}
/* Divider */
.divider {
  background: #DC143C;
  background-image: url('/assets/images/banners/background-pattern.svg');
  background-size: cover;
  height: 20px;
}

/* ======================================================================================================*/
/* ==============================================Content=================================================*/
/* ======================================================================================================*/
.container-fluid .row{
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-block {
  user-select: none;
}
a {
  text-decoration:none;
  color: #000;
}
/* Table content background */
.table-content {
  color: #ffffff;
  background: #161513;
}
/* Table */
.table {
  margin-bottom: 0px;
}
.table-header th{
  background-color: #DC143C;
  color: #fff;
}
th {
  font-size: 15px;
  height: 40px;
}
td {
  padding: 0px;
  white-space: nowrap;
  font-size: 15px;
}
.t-w-lg{
  max-width: 130px;
  min-width: 130px;
}
.team-status {
  padding: 0px;
}
.logos{
  width: 35px;
}
.line-table {
  background: linear-gradient(270deg,#DC143C,#d8b145);
  width: 6px;
  height: 5px;
  width: auto;
}
.table-info {
  padding: 10px;
  background-color: #fff;
}
/* Icons Color */
.win {
  margin-top: 10px;
  color: #3AA757;
  font-size: 18px;
}
.draw {
  margin-top: 10px;
  color: #9AA0A6;
  font-size: 18px;
}
.lose {
  margin-top: 10px;
  color: #EA4335;
  font-size: 18px;
}
/* Clasifiers */
.clasifier {
  width: 6px;
  height: 39px;
  padding: 0px;
}
.promotion {
  background: #27943C;
  color: #27943C;
}
.play-off {
  background: #a1cb40;
  color: #a1cb40;
}
.relegation {
  background: #c1272d;
  color: #c1272d;
}
/* Play-off content */
.title-play-off {
  height: 100%;
}
.title-play-off {
  display: flex;
  align-items: center;
}
.description-play-off {
  height: 70px;
}
@media screen and (max-width: 575.5px) {
  .title-play-off h1{
    padding: 0px;
  }
  .title-play-off div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 400px) {
  .title-play-off h1{
    font-size: 50px;
  }
}