.top-list-bar {
  height: 60px;
  line-height: 60px;
  transition: 0.2s;
}
.top-items{
  display: flex;
  justify-content: space-between;
}
.top-items img {
  width: 40px;
  transition: 0.2s;
}
.top-items img:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 892px) {
  .top-list-bar {
    height: 50px;
    line-height: 50px;
  }
  .top-items img {
    width: 30px;
  }
}
@media screen and (max-width: 624px) {
  .top-list-bar {
    display: none;
  }
}