/* Ttitle */
.background{
  background: #DC143C;
  background-image: url('/assets/images/banners/background-pattern.svg');
  background-size: cover;
  height: 250px;
}
.background h1 {
  font-size: 73px;
  color: #fff;
}
/* Page Tree */
.arrow {
  padding: 40px 12px;
  color: #ffbaba;
  font-weight: bold;
}
.arrow span{
  color: #fff;
}
.arrow i{
  padding: 0px 20px;
}
/* Description */
.notes {
  margin-bottom: 0px;
  font-size: 12px;
  font-style: italic;
}
.notes2 {
  font-size: 16px;
  white-space: nowrap;
  margin: 0px;
}
.description-image {
  text-align: end;
}
.description-image img {
  height: 70px;
}
@media screen and (max-width: 767.5px) {
  .description-image {
    text-align: center;
  }
}
@media screen and (max-width: 575.5px) {
  .background h1 {
    padding-top: 80px;
  }
  .description-image {
    text-align: center;
  }
  .arrow {
    display: none;
  }
  .title {
    text-align: center;
  }
}
/* Divider */
.divider {
  background: #DC143C;
  background-image: url('/assets/images/banners/background-pattern.svg');
  background-size: cover;
  height: 20px;
}

/* ======================================================================================================*/
/* ==============================================Content=================================================*/
/* ======================================================================================================*/
.container-fluid .row{
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-block {
  user-select: none;
}
a {
  text-decoration:none;
  color: #ffff;
  border: none;
}
/* Teams content background */
.team-content {
  color: #ffffff;
  background: #161513;
}
/* Cards */
.card:hover img {
  transform: scale(1.2);
}
.card img {
  transition: all 2s ease;
}
.item {
  background: #312f2b;
  color: #fafafa;
}
.item p {
  margin: 0px;
}
.item i {
  padding-left: 5px;
}
.item .card-img {
  max-width: 80px;
}
.card-img img {
  width: 64px;
}
.club-stadium {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-location{
  font-size: 12px;
}
/* Tabla */
.table-header th{
  background-color: #DC143C;
  color: #fff;
}
/* All-time */
.all-time-title{
  font-size: 30px;
  font-weight: bold;
  color: #BE152A;
}
.all-time-text td{
  color: #161513;
}
.all-time-text i{
  font-size: 12px;
}