<!-- D -->
<div class="container-fluid bg-light nav-options-bar hide-options-D">
  <div class="row">
    <div *ngIf="options.home; else itemD1" class="col-lg-1 col-md-2 col-sm-4 p-0">
      <a href=""><div class="nav-options-item nav-options-item-selected">Home</div></a>
    </div>
    <ng-template #itemD1>
      <div class="col-lg-1 col-md-2 col-sm-4 p-0">
        <a href=""><div class="nav-options-item">Home</div></a>
      </div>
    </ng-template>
    <div *ngIf="options.nosotros; else itemD2" class="col-lg-1 col-md-2 col-sm-4 p-0">
      <a href="/nosotros"><div class="nav-options-item nav-options-item-selected">Nosotros</div></a>
    </div>
    <ng-template #itemD2>
      <div class="col-lg-1 col-md-2 col-sm-4 p-0">
        <a href="/nosotros"><div class="nav-options-item">Nosotros</div></a>
      </div>
    </ng-template>
    <div *ngIf="options.social; else itemD3" class="col-lg-1 col-md-2 col-sm-4 p-0">
      <a href="/social"><div class="nav-options-item nav-options-item-selected">Social</div></a>
    </div>
    <ng-template #itemD3>
      <div class="col-lg-1 col-md-2 col-sm-4 p-0">
        <a href="/social"><div class="nav-options-item">Social</div></a>
      </div>
    </ng-template>
  </div>
</div>
<!-- M -->
<div class="dropdown hide-options-M">
  <button class="btn bg-light dropdown-option w-100 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Home
  </button>
  <ul class="dropdown-menu bg-light w-100">
    <li *ngIf="!options.home"><a class="dropdown-item text-center dropdown-option-item" href="">Home</a></li>
    <li *ngIf="!options.nosotros"><a class="dropdown-item text-center dropdown-option-item" href="/nosotros">Nosotros</a></li>
    <li *ngIf="!options.social"><a class="dropdown-item text-center dropdown-option-item" href="/social">Social</a></li>
  </ul>
</div>